<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Poverty Stoplight</title>
    <script src="static/Chart.min.js"></script>
  </head>

  <body>
    <h1>Semáforo de Eliminación de la Pobreza</h1>
    <h3>Tu Mapa de Vida</h3>
    <div width="10" height="10">
      <canvas id="myChart" ></canvas>
    </div>
    <br>

    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            datasets: [{
              data: [28,10,5,50,],
              backgroundColor: [
                '#42a5f5', //skipped
                'red',
                'yellow',
                'green'
              ],
              borderColor: "white",
              borderWidth: 0.5,
              label: 'Tu Mapa de Vida'
            }],
            labels: ['No respondido','Rojo','Amarillo','Verde']
          },
          options: {responsive: true},
        }
      );
    </script>
  </body>
</html>
