<html>
    <head>
        <title>Send a Message to the Community</title>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>Sending a Community Message</h1>
            <form action="{{ url_for('send_reminder') }}" method="post">
                    <div class="form-group">
                      <label for="indicators">Indicator</label>
                      <select class="form-control" id="indicators">
                        <option>Income</option>
                        <option>Access To Credit</option>
                        <option>Vaccinations</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="message">Example textarea</label>
                      <textarea class="form-control" id="message" rows="3"></textarea>
                    </div>
                </div>
    </body>
</html>